// Specific CSS for your home-page
h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 70px;
}

.home-container{
  position: relative;
  height: 100vh;
  // background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e1/Chestnut_Street_Salem.jpg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
}
.logo{
  position: absolute;
  top: 40px;
  left: 40px;
  width: 50px;
}
.sign-up-button{
  position: absolute;
  top: 30px;
  right: 30px;
  color: white;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}
.log-in-button{
  position: absolute;
  top: 30px;
  right: 130px;
  color: white;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}
.flex_search_form{
  width: 705px;
  margin-top: 200px;
  margin-left: 100px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6)
}
.comment_form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
input[type="submit"]{
  width:100px;
}
