// Specific CSS for your home-page
h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 70px;
}
.banner_flats-index {
width:98%;
height: 25%;
background-color: #F1E9DE;
margin:7px auto;
box-shadow: 0 1px 3px rgba(0,0,0,0.5);
border-radius: 15px;
}
