.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.flex-container{
  display:flex;
  flex-direction: column;
  background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(10, 10, 10, 0.6)), url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/1-london-england-skyline-panoramic-michael-tompsett.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.flex-container h2{
  margin-bottom: 37px;
  color: white;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 23px;
}
.first-container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(10, 10, 10, 0.6)), url('https://www.archinfo.sk/image-handler/40218/3950943/gallery/box_58458/orig_1/COMPASS_Dum_Jarovce_04.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px;
  background-color: lightgrey;
  margin-bottom: 80px;
}
.flex-map-search{
  display:flex;
}
