<div class= "profil-contrainer">
  <div class="row">
    <div class="col-lg-3 col-md-4 hide-sm ">
      <img src="<%= @user.avatar %>" class="avatar-large" alt="Avatar" />
  <div class="row">
    <div class="col-lg-9 col-md-8 col-sm-12">
      <h2> Hello, my name is <%=@user.first_name%> </h2>
    </div>
  </div>
    <p> Member since <%= @user.created_at %></p>

    <p><%= @user.email%></p>


    </div>
  </div>
</div>



