<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to flats_path do%>
    <%= image_tag("lionkingflat_orange", alt: "logo", class: "navbar-logo") %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to "Host", new_flat_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Trips</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Messages</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src=<%#user.avatar %> class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><%= link_to "Log Out", destroy_user_session_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
