
.card{
  background-color: white;
  width: 350px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  margin: 20px;
}
.card-body{
  height: 125px;
}
.card_footer{

}
